---
import SectionContainer from "@components/SectionContainer.astro";

import groqd from "@assets/groqd-arcade.png";
import vnxl from "@assets/vnxl.jpg";
import Clips from "@assets/clips.png";
import Mandelbruh from "@assets/mandelbruh.png";
import Zephyr from "@assets/zephyr.png";
import Pokedex from "@assets/pokedex.png";
import GifMaker from "@assets/gif-maker.png";
import { Image } from "astro:assets";
import FaGithub from "@components/FaGithub.astro";

type Project = {
  title: string;
  repoUrl?: string;
  description: string;
  link?: {
    href: string;
    title: string;
  };
  image?: ImageMetadata;
  imageFit?: "contain" | "cover";
};

const PROJECTS: Project[] = [
  {
    title: "Victory Native",
    repoUrl: "https://github.com/FormidableLabs/victory-native-xl/",
    description:
      "High-performance charting library for React Native powered by Reanimated, Skia, Gesture Handler, and D3.",
    image: vnxl,
    // imageFit: "contain" as const,
    link: {
      href: "https://formidable.com/open-source/victory-native/",
      title: "Check it out",
    },
  },
  {
    title: "Groqd",
    repoUrl: "https://github.com/FormidableLabs/groqd/",
    description: `A type and runtime safe query builder for the GROQ query language.`,
    image: groqd,
    // imageFit: "contain",
    link: {
      href: "https://formidable.com/open-source/groqd/",
      title: "Check it out",
    },
  },
  {
    title: "Clips",
    repoUrl: "https://github.com/FormidableLabs/clips",
    description: `A screen recording app built with web technologies.`,
    link: {
      href: "https://clips.formidable.dev/",
      title: "Check it out",
    },
    image: Clips,
  },
  {
    title: "Mandelbruh",
    repoUrl: "https://github.com/gksander/mandelbruh",
    description: `A mandelbrot fractal generator built with raw WebGL and Svelte.`,
    link: {
      href: "https://www.mandelbruh.dev/",
      title: "Check it out",
    },
    image: Mandelbruh,
  },
  {
    title: "React Native Zephyr",
    repoUrl: "https://github.com/FormidableLabs/react-native-zephyr",
    description: `TailwindCSS-inspired styling library for React Native.`,
    link: {
      href: "https://formidable.com/open-source/react-native-zephyr/",
      title: "View the docs",
    },
    image: Zephyr,
  },
  {
    title: "Personal PokeDex",
    repoUrl: "https://github.com/gksander/gks-pokedex-next",
    description: `Pokedex site built with Next.js static site generation powered by PokeAPI CSV data.`,
    link: {
      href: "https://pokedex.gksander.com/",
      title: "Check it out",
    },
    image: Pokedex,
  },
  {
    title: "GifMaker",
    repoUrl: "https://github.com/gksander/gif-maker",
    description: `Browser-based FFMPEG video converter. Handy for turning .mov files into GIFs.`,
    link: {
      href: "https://gif-maker.gksander.com/",
      title: "Check it out",
    },
    image: GifMaker,
  },
];
---

<SectionContainer title="Projects" subtitle="Some open things I've worked on.">
  <div class="grid gap-x-6 gap-y-12 grid-cols-1 sm:grid-cols-2">
    {
      PROJECTS.map((project) => (
        <div class="group/card">
          {project.image ? (
            <div class="relative rounded-lg mb-3 overflow-hidden">
              <Image
                src={project.image}
                alt={`${project.title} screenshot`}
                class:list={[
                  "w-full aspect-video",
                  project.imageFit === "contain"
                    ? "object-contain bg-gray-300 dark:bg-gray-600"
                    : "object-cover",
                ]}
              />
              <div class="absolute inset-0 backdrop-grayscale group-hover/card:backdrop-grayscale-0 group-hover/card:backdrop-blur-0 bg-gray-100 bg-opacity-10 transition transition-[backdrop-filter] duration-200" />
            </div>
          ) : (
            <div class="bg-gray-300 w-full aspect-video rounded-lg mb-3" />
          )}

          <a
            class="font-bold text-lg group/link flex gap-2 items-center transition-colors duration-150 mb-1"
            href={project.repoUrl}
            target="_blank"
            rel="noreferrer"
          >
            <span>{project.title}</span>
            <FaGithub class="w-5 h-5 opacity-0 group-hover/link:opacity-100 transition-all duration-200 -translate-x-1 group-hover:translate-x-0 scale-75 group-hover:scale-100" />
          </a>
          <p class="text-sm">
            {project.description}{" "}
            {project.link && (
              <a
                href={project.link.href}
                target="_blank"
                rel="noreferrer"
                class="font-bold transition-colors duration-150"
              >
                {project.link.title}.
              </a>
            )}
          </p>
        </div>
      ))
    }
  </div>
</SectionContainer>
