---
import "@fontsource-variable/jetbrains-mono";
import { TableOfContents } from "@components/posts/TableOfContents";
import { getCollection, type CollectionEntry } from "astro:content";
import clsx from "clsx";
import Layout from "src/layouts/Layout.astro";
import "@styles/blogpost.pcss";
import { Header } from "@components/Header";
import { ContentContainer } from "@components/ContentContainer";
import { format } from "date-fns/format";

export async function getStaticPaths() {
  const posts = await getCollection("post");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { ...post },
  }));
}
type Props = CollectionEntry<"post">;

const post = Astro.props;
const { Content, headings } = await post.render();

const isLongform = post.data.style === "longform";
const formattedPubDate = format(post.data.pubDate, "MMMM d, yyyy");

const PROSE_CLASSES = [
  "prose",
  "prose-code:before:hidden prose-code:after:hidden prose-code:px-1.5 prose-code:py-0.5 prose-code:rounded prose-code:font-medium",
  "hover:prose-a:text-accent",
  // Blockquote
  "prose-blockquote:border-l-background-dark marker:text-subtle-copy",
  "max-w-none",
];
---

<Layout
  title={`${post.data.title} | Grant Sander`}
  description={post.data.metaDescription || post.data.description}
  isFat={true}
  hasKatex={post.data.hasMath}
  keywords={post.data.keywords}
  image={`/og/post/${post.slug}.png`}
  subtleBgTexture={true}
  hasSandpack={post.data.style === "fiddle"}
>
  <Header isFat={true} />

  <ContentContainer
    className={clsx(
      "py-12 grid grid-cols-1 gap-x-12 gap-y-12",
      isLongform && "lg:grid-cols-[1fr,300px]"
    )}
    isFat={true}
  >
    <main>
      <div class="font-medium text-subtle-copy">{formattedPubDate}</div>
      <h1 class="mb-12 text-3xl font-bold">{post.data.title}</h1>

      <div class:list={PROSE_CLASSES}>
        <Content />
      </div>
    </main>
    {isLongform && <TableOfContents headings={headings} client:visible />}
  </ContentContainer>
</Layout>
